body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    color: #333;
}

/* ---------------------- HEADER ---------------------- */

.header-extrato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #ffffff;
}

.btn-voltar,
.btn-filtrar {
    background-color: #00a88d;
    border: none;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.btn-voltar:hover,
.btn-filtrar:hover {
    background: #00806d;
}

/* ---------------------- LISTA ---------------------- */

.container-Movimentacao {
    width: 95%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);

    display: grid;
    grid-template-columns: 120px 1fr 1fr 80px 120px 40px;
    /* data | categoria | nome | parcelas | valor | botão excluir */
    align-items: center;
    gap: 60px;
}

/* Botão excluir */
.btn-excluir {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: none;
    background: #e11d48;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-excluir:hover {
    background: #b91c1c;
}

/* ---------------------- CAMPOS ---------------------- */

.parcelas {
    font-size: 14px;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.dataMovi {
    font-size: 14px;
    font-weight: bold;
    color: #1e293b;
}

.categoriaMovi {
    font-size: 14px;
    color: #475569;
}

.textMovi {
    font-size: 15px;
    font-weight: bold;
}

.parcelasNum,
.parcelasTotal {
    font-size: 14px;
    color: #475569;
}

.valorMovi {
    font-size: 17px;
    font-weight: bold;
    text-align: right;
}


.movimentacoes-vazias {
    display: flex;               
    flex-direction: column;      
    justify-content: center;    
    align-items: center;         
    height: 300px;               
    color: #3a3a3a;                
    font-size: 18px;            
    gap: 10px;                   
    font-weight: bold;
}