
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');   
   
   
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;  
  
    color: rgb(0, 0, 0);
  }

     
   
  main {
    background-color: rgb(247, 247, 247);
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.388);
    width: 100%;
    max-width: 340px;
    text-align: center;
  }
  
  #titulo {
    font-size: 28px;
    margin-bottom: 25px;
    color: rgb(72, 0, 255);

  }
  #tituloP {
    position: absolute; 
    top: 10vh;          
    left: 50%;        
    transform: translateX(-50%); 
    font-size: 25px;
    color: rgb(72, 0, 255);
    margin: 0;
    z-index: 100;  
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);        
  }

  /* Campos Inputs */
  .campos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .campos input {
    padding: 12px 15px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(42, 42, 42, 0.226);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    transition: all 0.3s ease;
    backdrop-filter: blur(2px);
  }
  
  .campos input::placeholder {
    color: rgba(0, 0, 0, 0.279); /* #888 */
  }
  
  .campos input:focus {
    outline: none;
    border-color: rgba(19, 19, 19, 0.092); /* #ccc */
    
  }
  

  
  .btnInputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .btnInputs input[type="button"] {
    width: 100%;
    padding: 13px;

    background-color: rgb(72, 0, 255);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(119, 119, 119);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.25s ease;
  }
  
  .btnInputs input[type="button"]:hover {
   
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  

  /* Rodápe */
  footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: rgb(66, 66, 66); /* #999 */
  }
  