@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ===== BODY ===== */
body {
  background-color: #f4f7fa;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* ===== TÍTULO PRINCIPAL ===== */
#tituloP {
  margin-top: 20px;
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #00856f;
}

/* ===== TÍTULO DA PÁGINA ===== */
#titulo {
  font-size: 1.6rem;
  margin-top: 20px;
  color: #00856f;

}

/* ===== CONTEÚDO ===== */
main {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

.Conteudo {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.07);
  margin-top: 20px;
}

/* ===== CAMPOS ===== */
.campos input,
.campos select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: 0.2s;
}

.campos input:focus,
.campos select:focus {
  border-color: #00856f;
  outline: none;
  background-color: #eaf7f3;
}

/* ===== BOTÕES ===== */
.btnInputs {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btnInputs input {
  padding: 12px 25px;
  border: none;
  background-color: #00856f;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}

.btnInputs input:hover {
  background-color: #00a88d;
}


footer {
  position: fixed; 
  bottom: 0;        
  left: 50%;        
  transform: translateX(-50%); 
  text-align: center;
  width: 100%;       
  color: #777;
  font-size: 0.9rem;
}