

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background: radial-gradient(circle at top, rgb(66, 66, 66) 0%, rgb(0, 0, 0) 100%);
    font-family: Arial, sans-serif;
    color: rgb(204, 204, 204);
    font-family: 'Poppins', sans-serif;
  
  }
/* Botão fixo */
.btn-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s;
}

.btn-toggle:hover {
  transform: scale(1.1);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(85, 85, 85, 0.007);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.014);
  color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: width 0.3s ease;
}

.sidebar.ativa {
  width: 150px;
}

.menu-header {
  margin-left: 30px;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.ativa .menu-header {
  opacity: 1;
}

.menu-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.ativa .menu-links a {
  opacity: 1;
}

.menu-links a:hover {
  background-color: rgba(255, 255, 255, 0.199);

}


.main-content{
margin-left: 5vw;
margin-top:0vh;
transition: margin-left 0.4s ease;  /* transição suave */
  }

  /* Quando sidebar aberta */
 .sidebar.ativa ~ .main-content {
  margin-left: 8vw; 
} 







  .Caixas{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   }


.container{
  background-color: rgba(255, 255, 255, 0.03);
  width: 24vw;
  height: 40vh;
  border-radius: 20px;
  border: 1px solid rgb(85, 85, 85); /* #555 */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  display: flex;
  font-size: 3vh;
 

}

.container-perfil .container{
  width: 24vw;
  height: 50vh;
  align-items: center;


}
.perfil{
  margin-left: auto;
  margin-right: auto;
}
#imgUser{
margin-left: 2vw;
height: 25vh;
width: 15vw;

}

.container-Categorias .container{
  width: 36vw;
  height: 50vh;
 
}
.container-ValorEntrada .container{
  width: 11vw;
  height: 20vh; 
  font-size: 4vh;
  align-items: center;
color: aquamarine;
font-weight: 500;

}

.container-ValorSaida .container{
  width: 11vw;
  height: 20vh;
  font-size: 4vh;
  align-items: center;
  color: rgb(247, 76, 76);
  font-weight: 500;

} 
.container-Detalhes .container{
  width: 20vw;
  height: 40vh;

}
.container-Detalhes2 .container{
  width:15vw;

}

.container-Movimentacao {
  margin-top: -30vh;
  border: 1px solid rgb(85, 85, 85); /* #555 */
  border-radius: 20px;
}
.container-Movimentacao .container{
  margin-top: 0vh;
  height: 15vh;
  border-radius: 15px;
  border: 1px solid rgba(85, 85, 85, 0.11); /* #555 */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.034);
  align-items: center;
  
  
}
