
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0;
      font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

 
 

}
body {
  margin: 0;
  height: 100vh;
  background-image:

    radial-gradient(circle at center, rgba(0,0,0,0) 70%, rgba(0,0,0,0.6) 100%),
    url("image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}


 main{
    background-color: rgba(0, 0, 0, 0.651);
 
    display:flexbox;
    height: 50vh;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top:20vh;

  box-shadow: 
 
  inset -15px -15px 25px rgba(128, 0, 255, 0.226),  
    
    inset -15px 15px 25px rgba(0, 0, 0, 0.5),       
    inset 15px -15px 25px rgba(0, 0, 0, 0.5),       
    inset 15px 15px 25px rgba(128, 0, 255, 0.226);   

} 

#titulo{
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    top: 20px;
    font-size: 45px;

  font-family: "Bitcount Prop Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal;

    text-shadow: 
    0 0 10px rgba(178, 109, 255, 0.8),
    0 0 20px rgba(178, 109, 255, 0.6),
    0 0 40px rgba(178, 109, 255, 0.4),
    0 0 80px rgba(178, 109, 255, 0.2);
   
}

.btnInputs input{
    background-color: rgb(141, 67, 224);
  padding: 20px 20px;   
  font-size: 18px;      
  border-radius: 15px;     
    position: relative;
  top: 40px;
  
  box-shadow: 
    inset -15px -15px 25px rgba(128, 0, 255, 0.25), /* superior esquerda roxa */
    inset -15px 15px 25px rgba(0, 0, 0, 0.5),       /* inferior esquerda preta */
    inset 15px -15px 25px rgba(0, 0, 0, 0.5),       /* superior direita preta */
    inset 15px 15px 25px rgba(0, 0, 0, 0.25);   /* inferior direita roxa */

   

}

#novoGastosBtn{
  color: #FFFF;
  position: relative;
    left: 0px;
   top: 60px;
    
}
#removerGastosBtn{
background-color: rgb(15, 15, 15);
  color: #ffffff;
position: relative;
left: 170px;
top: 60px;

    text-shadow: 
    0 0 10px rgba(178, 109, 255, 0.8),
    0 0 20px rgba(178, 109, 255, 0.6),
    0 0 40px rgba(178, 109, 255, 0.4),
    0 0 80px rgba(178, 109, 255, 0.2);
   
}
#verGastosBtn{
  position: relative;
  right: 180px;
 top: 60px;

  color: #ffffff;
  text-shadow: 
      0 0 10px rgba(178, 109, 255, 0.8),
    0 0 20px rgba(178, 109, 255, 0.6),
    0 0 40px rgba(178, 109, 255, 0.4),
    0 0 80px rgba(178, 109, 255, 0.2);


}


.Conteudo{
position:relative;
top: 60px;
left: 10%;


}

.campos input{
    padding: 15px 30px;   
  font-size: 20px;       
  border-radius: 8px;  
  
}
#parcelasId{
  font-size: 20px;
  margin-right: 10px;
  color: #fff; 
  position: relative;
  top: 20px;
   left: 15px;
}

#parcelaAtual{
     padding:1px 10px;
     width: 50px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
   position: relative;
  top: -25px;
left: 513px;
}

#totalParcelas{
  padding: 1px 10px;
  width: 50px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
     position: relative;
  top: 15px;
left: 280px;

}
span{
       position: relative;
  top: 15px;
left: 280px;
color: #fff; 
font-size: 20px;


}





#valorId{
  position: relative;
  top: 40px;
}
#dataId{
   position: relative;
    left: 15px;
      padding: 10px 25px;

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  



     text-shadow: 
    0 0 10px rgba(178, 109, 255, 0.8),
    0 0 20px rgba(178, 109, 255, 0.6),
    0 0 40px rgba(178, 109, 255, 0.4),
    0 0 80px rgba(178, 109, 255, 0.2);
   

}

 .itensLista {
  display: none;
  color: #fff;
  position: absolute;
  top:10px;
  left: 10px;
  background-color: #0c0c0c33;
  height: 700px;
  border-radius: 10px;
  padding: 10px;
  width: 720px;
  font-size: 20px;

   text-shadow: 
    0 0 10px rgba(178, 109, 255, 0.8),
    0 0 20px rgba(178, 109, 255, 0.6),
    0 0 40px rgba(178, 109, 255, 0.4),
    0 0 80px rgba(178, 109, 255, 0.2);

    box-shadow:  
    inset -15px -15px 25px rgba(128, 0, 255, 0.25),  
    inset -15px 15px 25px rgba(0, 0, 0, 0.5),        
    inset 15px -15px 25px rgba(0, 0, 0, 0.5),       
    inset 15px 15px 25px rgba(0, 0, 0, 0.25);   
 


.tabela {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  
  
}

.cabecalho {
  display: contents; /* faz os filhos participarem do grid da tabela */
  
  text-align: center;
  font-weight: bold;
}

.cabecalho div{
  background-color: blueviolet;
  width: 120px;
    
}

 


.linha {
  display: contents; /* também participa do grid */
  text-align: center;
  
}



}

